# Core ML & Deep Learning
numpy
pandas
scikit-learn
Pillow
torch==2.1.2+cpu
torchvision==0.16.2+cpu
tensorflow-cpu==2.15.0
# Backend & API
flask
flask-cors
requests
python-dotenv

# Weather & Location APIs
geopy
timezonefinder

# Data Visualization
matplotlib
seaborn

# Database
mysql-connector-python
sqlalchemy

# Utilities
tqdm
joblib

# Optional (for deployment & production)
gunicorn
