body {
  background: #020617;
  color: #e5e7eb;
  font-family: Arial;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#india-map {
  width: 450px;
}

.state {
  fill: #38bdf8;
  stroke: #020617;
  stroke-width: 2;
  cursor: pointer;
  transition: 0.3s;
}

.state:hover {
  fill: #22c55e;
}

#infoBox {
  background: #020617;
  border: 1px solid #334155;
  padding: 20px;
  width: 260px;
  border-radius: 12px;
  display: none;
}
